:root{
    --bg-gray: #F5F5F5;
    --light-blue: #C2EEF5;
    --highlight-blue: #4CD1FF;
    --border-gray: #E5E7EB;
}

body {
    padding: 0px;
    margin:0px;
}

.container {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
/* Left side of signup */
.forestContainer {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-image: url(images/signup-background-adj.jpg);
    background-repeat: no-repeat;
    /* background-size: 1vh; */
    background-size: auto max(100%,450px);
}

.darkOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* right side of signup */
.contentContainer{
    flex: auto;
    height: 1vh;
    display: flex;
    flex-direction: column;
    width: max(600px, 62vw);
}

.standardBackground {
    flex: auto;
}
.strongText {
    flex: auto;
}

.form {
    display: flex;
    flex-direction: column;
}
.formTitle {
    display: flex;
}

.formRow {
    display: flex;
}
.formElement {
    display: flex;
    flex-direction: column;
}
.formElement label {
    flex: auto;
}
.formElement input {
    flex: auto;
}

